user nginx;
worker_processes {{ ansible_processor_cores }};

pid logs/nginx.pid;
worker_rlimit_nofile 51200;

events {
        use epoll;
        worker_connections 51200;
        }

http {
        include mime.types;
        default_type application/octet-stream;

        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" "$request_time" "$host"';


        server_names_hash_bucket_size 128;
        client_header_buffer_size 32k;
        large_client_header_buffers 4 32k;
        client_max_body_size 50m;
        sendfile on;
        tcp_nopush on;
        keepalive_timeout 120;
        server_tokens off;
        tcp_nodelay on;

        fastcgi_connect_timeout 300;
        fastcgi_send_timeout 300;
        fastcgi_read_timeout 300;
        fastcgi_buffer_size 64k;
        fastcgi_buffers 4 64k;
        fastcgi_busy_buffers_size 128k;
        fastcgi_temp_file_write_size 128k;

#Gzip Compression
        gzip on;
        gzip_buffers 16 8k;
        gzip_comp_level 6;
        gzip_http_version 1.1;
        gzip_min_length 256;
        gzip_proxied any;
        gzip_vary on;

        open_file_cache max=1000 inactive=20s;
        open_file_cache_valid 30s;
        open_file_cache_min_uses 2;
        open_file_cache_errors on;

upstream backserver {
        server 127.0.0.1:8080;
        server 127.0.0.1:8090;
}

server {
        listen 80;
        server_name __;
        access_log  logs/access.log  main;
        error_log   logs/error.log;

        location / {
            proxy_pass http://backserver;
            proxy_redirect off;
            proxy_headers_hash_max_size 1024;
            proxy_headers_hash_bucket_size 512;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $http_x_forwarded_for;
        }

   }
}
