[
  {rabbit, [
	{default_vhost, <<"/">>},
    {default_user, <<"flowadmin">>},
    {default_pass, <<"ehuedh2uehd7y2gter">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {default_user_tags, [administrator]},
    {cluster_nodes, {['rabbit@node1' ], disc}},
	{hipe_compile, true},
	{vm_memory_high_watermark_paging_ratio, 0.75},
	{vm_memory_high_watermark, 0.4}
  ]}
].
